[advice]
	statusHints = false
[core]
	excludesfile = ~/.gitignore
	editor = vim
	pager = less -R
[color]
	ui = true
[pull]
	rebase = true
[alias]
	d = diff
	dc = diff --cached
	co = checkout
	ci = commit
	adp = add -p
	cop = checkout -p
	amend = commit --amend -C HEAD
	rc = rebase --continue
	branches = for-each-ref --sort=-committerdate refs/heads/ --format='%(color:039)%(authordate:short) %(color:197)%(objectname:short) %(color:177)%(refname:short)%(color:reset) %(color:42)(%(committerdate:relative))%(color:reset)' --count=10
	l = log --oneline --decorate --graph
	ll = log --oneline --decorate --graph origin/master HEAD
	ls = log --pretty=format:'%C(42)%h %C(dim white)• %Creset%C(039)%ad %C(dim white)• %Creset%C(white)%s' --date=format:'%Y-%m-%d'
	wip = !git add -A && git commit -nm wip
	gist = !git add -A && git commit -m '' --allow-empty-message && git push
	cut = "!f() { git checkout --no-track -b $1 $2 && git push -u origin $1; }; f"
	bisect-run = "!f() { git bisect start HEAD $1 && shift && git bisect run "$@" && git bisect reset; }; f"
	ego = shortlog -sn
	com = !git fetch && git checkout origin/master
	rom = !git fetch && git rebase origin/master
	f = fetch --all --prune
[user]
	name = Chase Stubblefield
	email = chasestubblefield@gmail.com
	signingkey = 5BFF1DD10C6D055D
