"*":
  core:
    disabledPackages: [
      "wrap-guide"
      "spell-check"
      "ide-typescript"
      "language-babel"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "__pycache__"
      "*.pyc"
    ]
    projectHome: "/Users/chase/code"
    telemetryConsent: "limited"
    titleBar: "custom-inset"
  editor:
    fontFamily: "Inconsolata-dz"
    fontSize: 18
    showInvisibles: true
  "exception-reporting":
    userId: "3bc0eb41-211c-4607-b787-6315fe14a76f"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
  linter:
    disabledProviders: [
      "RuboCop"
    ]
  "linter-ui-default": {}
  "one-dark-ui":
    hideDockButtons: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".go.source":
  editor:
    tabLength: 4
